{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Task Manager</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="navbar">
    <h2>Task Manager</h2>

    {% if user.is_authenticated %}
       <div class="nav-links">
        <a href="{% url 'task_list' %}">Home</a>

    <form method="post" action="{% url 'logout' %}" style="display:inline;">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</div>
    {% endif %}
</div>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>