{% extends 'base.html' %}
{% block content %}

<h2 class="welcome-text">
    Hello, {{ request.user.username }}
</h2>

<h1>Active Tasks</h1>

<a class="btn-create" href="{% url 'create_task' %}">+ Create Task</a>

{% for task in active_tasks %}
<div class="task-item">
    <div class="task-content">
        <div>
            <strong>{{ task.title }}</strong><br>
            {{ task.description }}

            {% if task.category %}
            <div class="category-badge">
                Category: {{ task.category.name }}
            </div>
            {% endif %}


            {% if task.tags.all %}
            <div class="tag-container">
                {% for tag in task.tags.all %}
                    <span class="tag-badge">{{ tag.name }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div>
            <a class="btn-small edit-btn" href="{% url 'update_task' task.pk %}">Edit</a>
            <a class="btn-small delete-btn" href="{% url 'delete_task' task.pk %}">Delete</a>
            <a class="btn-small done-btn" href="{% url 'change_status' task.pk 'completed' %}">Done</a>
            <a class="btn-small cancel-btn" href="{% url 'change_status' task.pk 'cancelled' %}">Cancel</a>
        </div>
    </div>
</div>
{% empty %}
<p>No active tasks</p>
{% endfor %}

<hr>

<h2>Completed</h2>

{% for task in completed_tasks %}
<div class="task-item completed-task">
    <div class="task-content">
        <div>
            <strong>{{ task.title }}</strong><br>
            {{ task.description }}

            {% if task.category %}
            <div class="category-badge">
                Category: {{ task.category.name }}
            </div>
            {% endif %}


            {% if task.tags.all %}
            <div class="tag-container">
                {% for tag in task.tags.all %}
                    <span class="tag-badge">{{ tag.name }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div>
            <a class="btn-small edit-btn" href="{% url 'update_task' task.pk %}">Edit</a>
            <a class="btn-small cancel-btn" href="{% url 'change_status' task.pk 'active' %}">Restore</a>
        </div>
    </div>
</div>
{% empty %}
<p>No completed tasks</p>
{% endfor %}

<hr>

<h2>Cancelled</h2>

{% for task in cancelled_tasks %}
<div class="task-item cancelled-task">
    <div class="task-content">
        <div>
            <strong>{{ task.title }}</strong><br>
            {{ task.description }}

            {% if task.category %}
            <div class="category-badge">
                Category: {{ task.category.name }}
            </div>
            {% endif %}


            
            {% if task.tags.all %}
            <div class="tag-container">
                {% for tag in task.tags.all %}
                    <span class="tag-badge">{{ tag.name }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <div>
            <a class="btn-small done-btn" href="{% url 'change_status' task.pk 'active' %}">Restore</a>
        </div>
    </div>
</div>
{% empty %}
<p>No cancelled tasks</p>
{% endfor %}

{% endblock %}